n8n_valsports_workflow.json
{
  "name": "ValSports Bet Capture - Otimizado",
  "nodes": [
    {
      "parameters": {
        "mode": "workflow"
      },
      "id": "workflow-trigger",
      "name": "When executed by another workflow",
      "type": "n8n-nodes-base.workflowTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "valsports-bet-capture-optimized"
    },
    {
      "parameters": {
        "url": "https://valsports.qobebrasil.com.br/api/capture-bet",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "bet_code",
              "value": "={{ $json.bet_code }}"
            }
          ]
        },
        "options": {}
      },
      "id": "api-capture-bet",
      "name": "API Capture Bet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "When executed by another workflow": {
      "main": [
        [
          {
            "node": "API Capture Bet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Capture Bet": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-19T16:00:00.000Z",
      "updatedAt": "2025-08-19T16:00:00.000Z",
      "id": "valsports-bet-capture-optimized",
      "name": "ValSports Bet Capture Optimized"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-08-19T16:00:00.000Z",
  "versionId": "1"
}
