n8n_confirm_bet_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pagamentonovo",
        "options": {}
      },
      "id": "3cc09334-57f6-439b-97ed-301da36a9ad6",
      "name": "Webhook - Pix Notification",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        128,
        -208
      ],
      "webhookDescription": "Recebe notificações do Mercado Pago quando um PIX é gerado ou atualizado.",
      "webhookId": "b88369c5-0e55-41e9-a522-a074cd8c29e0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a8abf43d-4695-47a1-b5e0-07a567d887d5",
              "name": "id_pagamento",
              "value": "={{$json[\"query\"][\"id\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -208
      ],
      "id": "fa756bb9-74f5-487b-aec7-4dab81c99c1e",
      "name": "Extract Payment ID"
    },
    {
      "parameters": {
        "url": "=https://api.mercadopago.com/v1/payments/{{ $('id_pagamento').item.json.id_pagamento }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer APP_USR-6583672500780812-082211-b6bc70393253f8a70b2e4dbc69398229-2636079607"
            }
          ]
        },
        "options": {}
      },
      "id": "a042080c-3951-4a32-9560-c745a7ecf90e",
      "name": "Get Payment Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        528,
        -208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "approved"
            }
          ]
        }
      },
      "id": "79f26e41-d4a8-4ffe-85c3-7b69ba21c4b8",
      "name": "IF - Payment Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        944,
        -208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bet-code-extractor",
              "name": "bet_code",
              "value": "={{ $json.external_reference }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        -208
      ],
      "id": "extract-bet-code",
      "name": "Extract Bet Code"
    },
    {
      "parameters": {
        "url": "https://valsports.qobebrasil.com.br/api/confirm-bet",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "bet_code",
              "value": "={{ $json.bet_code }}"
            }
          ]
        },
        "options": {}
      },
      "id": "confirm-bet-api",
      "name": "Confirm Bet API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1360,
        -208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-message",
              "name": "message",
              "value": "✅ Pagamento aprovado e bilhete confirmado com sucesso!\n\n🎯 Código do bilhete: {{ $json.bet_code }}\n⏰ Confirmado em: {{ $('Confirm Bet API').item.json.confirmed_at }}\n\nO bilhete foi processado e está ativo no sistema.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        -208
      ],
      "id": "success-response",
      "name": "Success Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-message",
              "name": "message",
              "value": "❌ Erro ao confirmar bilhete após pagamento aprovado\n\n🎯 Código do bilhete: {{ $json.bet_code }}\n📝 Erro: {{ $('Confirm Bet API').item.json.message }}\n\nO pagamento foi aprovado, mas houve um problema na confirmação do bilhete. Entre em contato com o suporte.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        -100
      ],
      "id": "error-response",
      "name": "Error Response"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Confirm Bet API').item.json.status }}",
              "value2": "success"
            }
          ]
        }
      },
      "id": "confirm-success-check",
      "name": "IF - Confirmation Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1360,
        -100
      ]
    }
  ],
  "connections": {
    "Webhook - Pix Notification": {
      "main": [
        [
          {
            "node": "Extract Payment ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Payment ID": {
      "main": [
        [
          {
            "node": "Get Payment Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Payment Info": {
      "main": [
        [
          {
            "node": "IF - Payment Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Payment Approved?": {
      "main": [
        [
          {
            "node": "Extract Bet Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Bet Code": {
      "main": [
        [
          {
            "node": "Confirm Bet API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Bet API": {
      "main": [
        [
          {
            "node": "IF - Confirmation Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Confirmation Success?": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b8c6b7342b328540a091fae4969fbf611134be8f78ea26b05f371086fd2e1b7"
  }
}

